{{#*inline "metadata"}}
    <title>Projects</title>
{{/inline}}

{{#*inline "content"}}
    {{>sidebar}}

    <div id="projects">
        <h1>Projects</h1>

        Some of my favourite projects to have worked on.

        {{#each data.projects}}
            <hr>
            <span></span>
            <div class="project">
                <div class="project-content">
                    <h2>{{title}}</h2>

                    {{#each description}}
                        <p>{{{this}}}</p>
                    {{/each}}

                    <h3>Links</h3>

                    {{#if links.github}}
                        <a href="{{links.github}}" class="fat-link">See it on GitHub</a>
                    {{/if}}

                    {{#if links.website}}
                        <a href="{{links.website}}" class="fat-link">Visit Website</a>
                    {{/if}}

                    {{#if technologies}}
                        <h3>Technologies</h3>
                        <div class="tag-list">
                            {{#each technologies}}
                                <div class="tag">{{this}}</div>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>

                {{#if image}}
                    <div class="project-image">
                        <img src="{{image}}" style="float:left" />
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>
{{/inline}}

{{>base}}
