{{#*inline "metadata"}}
    <title>Christofer Nolander - Projects</title>
{{/inline}}

{{#*inline "content"}}
    {{>sidebar}}

    <div id="projects" class="content">
        <h1>Projects</h1>

        {{#each data.projects}}
            <hr>
            <span></span>
            <div class="project">
                <div class="project-content">
                    <h2>{{title}}</h2>

                    <p>{{access @root description}}</p>

                    <h3>Check it out!</h3>

                    {{#if links.github}}
                        <a href="{{links.github}}" class="fat-link">Visit GitHub</a>
                    {{/if}}

                    {{#if links.crates}}
                        <a href="{{links.crates}}" class="fat-link">Visit crates.io</a>
                    {{/if}}

                    {{#if links.website}}
                        <a href="{{links.website}}" class="fat-link">Visit Website</a>
                    {{/if}}

                    {{#if technologies}}
                        <h3>Technologies</h3>
                        <div class="tag-list">
                            {{#each technologies}}
                                <div class="tag">{{this}}</div>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>

                {{#if image}}
                    <div class="project-image">
                        <img src="{{image}}" style="float:left" />
                    </div>
                {{/if}}
                {{#if youtube}}
                    <div class="project-image">
                        <iframe src="{{youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>

{{/inline}}

{{>base}}
